<h1>New Comment</h1>

<%= form_with model: [@commentable, @comment] do |f| %>
  <div>
    <%= f.label :body, "Your Comment" %><br>
    <%= f.text_area :body %>
  </div>

  <%= f.submit "Add Comment" %>
<% end %>
